@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.terms-container {
  padding: 15% 0 0 1%;
}

h1.terms-of-use {
  font-size: 22px;
  font-family: "poppins", serif;
  padding-top: 5%;
}

p {
  color: #000;
  font-family: "poppins", serif;
  font-size: 15px;
  padding-top: 11%;
}

h2 {
  font-family: "poppins", serif;
  padding-top: 5%;
}
