@import url(https://fonts.googleapis.com/css?family=Paytone+One:regular);
@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Gabriela:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Aoboshi+One:regular);

* {
  margin: 0;
  box-sizing: border-box;
}

//! Colors
$royal-blue: #5271ff;
$royal-blue-light: #c7d0ec;
$light-blue: #ecf2ff;
$light-blue-more: #f0f1f3;
$white: #fff;
$light-white: #f5f5f5;
$green: #03c988;
$black: #000;
$grey: #c0bdbd;
$light-grey: #ccc9c9;
$light-white-more: #f1eeee;
$red: #ff6969;
$slate-grey: #708090;
$sky-blue: rgb(116, 192, 252);
$purple: #b799ff;

//! Font Families
$gabriela: "gabriela";
$poppins: "poppins";
$averia: "averia serif libre";
$aoboshi: "aoboshi one";

//! Smartphones
@media screen and (min-width: 320px) and (max-width: 480px) {
}

//! Desktops
@media screen and (min-width: 768px) and (max-width: 3084px) {
  .sidebar {
    position: fixed;
    margin: 40% 0 0 0;
    background-color: $white;
    width: 16%;
    border-radius: 8px;
    height: auto;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin-top: 10%;

      li {
        padding-bottom: 1%;
        font-size: 18px;
        font-family: $poppins, serif;
        font-weight: bold;
        color: $black;
        margin-left: -13%;
        margin-bottom: 11%;
        width: 100%;
        text-align: center;
      }

      li:hover {
        color: $white;
        background-color: $royal-blue;
        transition: 100ms;
        width: 100%;
        border-radius: 4px;
        padding-bottom: 1%;
      }
    }
  }
}
